@import "tailwindcss";

@theme inline {
  --color-surface-root: hsl(0, 9%, 7%);
  --color-text-strong: hsl(0, 15%, 94%);
  --color-text-default: hsl(0, 4%, 71%);
  --color-text-weak: hsl(0, 2%, 49%);
  --color-text-weaker: hsl(0, 3%, 28%);
  --color-border-general: hsl(0, 3%, 28%);
  --color-border-special: hsl(0, 4%, 23%);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --text-heading-display: 22px 1.3;
  --text-heading-section: 18px 1.4;
  --text-body: 14px 1.6875;
  --text-caption: 13px 1.5;
  --text-code: 14px 1.6875;

  --spacing-container-px: 64px;
  --spacing-section-py: 80px;
  --spacing-grid-gap: 64px;
}

:root {
  --font-system-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  --font-system-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
    "Liberation Mono", monospace;
  --font-rounded: var(--font-geist-sans);
}

html[data-theme="ibm"] .font-sans {
  font-family: var(--font-ibm-plex-mono);
}
html[data-theme="ibm"] .font-mono {
  font-family: var(--font-ibm-plex-mono);
}
html[data-theme="ibm"] {
  --font-rounded: var(--font-ibm-plex-mono);
}

html[data-theme="apple"] .font-sans {
  font-family: var(--font-system-sans);
}
html[data-theme="apple"] .font-mono {
  font-family: var(--font-system-mono);
}
html[data-theme="apple"] {
  --font-rounded: var(--font-m-plus-rounded-1c);
}
